.verify-account-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verify-account-card {
  width: 400px;
  background-color: #0b1739 !important;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.verify-account-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center; /* Center the heading */
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  background-color: #1a1b31;
  border: 1px solid #374151;
  border-radius: 0.5rem;
  color: white;
}

/* Error message styling */
.error-message {
  background-color: #fecaca;
  border: 1px solid #f87171;
  color: #991b1b;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

/* Submit button styling */
.submit-btn {
  width: 100%;
  background: linear-gradient(
    128.49deg,
    #cb3cff 19.86%,
    #7f25fb 68.34%
  ) !important;
  color: white;
  margin-top: 1rem;
}

.submit-btn:hover {
  background-color: #7e22ce;
}

.resend-token-link {
  color: #9333ea;
  text-decoration: none;
}

.resend-token-link:hover {
  text-decoration: underline;
}

/* Focus state for form inputs and buttons */
.form-control:focus,
.submit-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #9333ea;
}

/* Placeholder color */
::placeholder {
  color: #6b7280;
}
